<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/core.css' | url }}">
    <title>{{ title }} | 1st Blackheath Scout Group</title>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
