<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    {% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
    <meta name="msapplication-TileColor" content="#8d8b12">
    <link rel="stylesheet" href="{{ '/assets/css/core.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{% if page_title %}{{ page_title }} | {% endif %}1st Blackheath Scout Group</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script>
      var _paq = window._paq = window._paq || [];
      {% if env.environment != "development" %}
      _paq.push(['setSecureCookie', true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u='https://matomo.tobygriffin.dev/';
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
      {% endif %}
    </script>
  </head>

  <body class="text-stone-800 dark:bg-black dark:text-stone-200">
    {{ content | safe }}
  </body>
</html>
