<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
    {% if no_robots %}<meta name="robots" content="noindex">{% endif %}
    <meta name="msapplication-TileColor" content="#8d8b12">
    {% if page.url %}<link rel="canonical" href="{{ urls.canonical_base_url }}{{ page.url }}">{% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/core.css' | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{% if page_title %}{{ page_title }} | {% endif %}1st Blackheath Scout Group</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    {% if env.environment != "development" %}
    <script defer src="https://umami.tobygriffin.dev/script.js" data-website-id="0ef208ba-c922-440e-8a4c-d04636ea3b0f"></script>
    {% endif %}
  </head>

  <body class="text-stone-800 dark:bg-black dark:text-stone-200">
    {{ content | safe }}

    {% if env.environment != "development" %}
    <script type="text/javascript">
      (() => {
        const name = 'outbound-link-click';
        document.querySelectorAll('a').forEach(a => {
          if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
            a.setAttribute('data-umami-event', name);
            a.setAttribute('data-umami-event-url', a.href);
          }
        });
      })();
    </script>
    {% endif %}
  </body>
</html>
