<div class="sm:flex">
  <div class="z-10 shrink-0 flex justify-center items-center">
    <img class="block w-64 mx-8" src="/assets/img/1stBlackheath-420.png">
  </div>
  <div class="grow relative">
    <svg class="hidden sm:block absolute inset-left-0 h-full w-48 text-white transform -translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="50,0 100,0 50,100 0,100" />
    </svg>
    <img class="h-48 sm:h-72 object-cover w-full" src="/assets/img/hero-01.jpg">
  </div>
</div>
