<section id="hallhire" class="bg-lime-900 text-white">
  <div class="container mx-auto px-4 sm:px-12 py-24">
    <header class="mb-6">
      <h1 class="text-5xl font-black tracking-tight">Hire our Hall</h1>
    </header>

    <div class="grid md:grid-cols-2 gap-6">
      <img class="block" src="/assets/img/hall.jpg">
      <div class="space-y-4">
        <p>Our Hall is available for casual or regular hire by the community and by visiting Scout groups.</p>
        <p>It's perfect for overnight camps, birthday parties, private functions or regular bookings such as fitness groups.</p>
        <p>Our Hall is fitted with a kitchen, toilet and shower facilities, slow combustion wood heater, tables and chairs and a separate meeting room.</p>
        <p>Outside, features include the grassed camping area with campfire pit, covered outdoor area with BBQ, and the adjacent playground and huge oval.</p>
        <a href="{{ urls.hall_hire_url }}" class="inline-flex items-center px-3 py-1 rounded border border-white transition duration-150 hover:bg-white hover:text-scarf-red">Contact our Hall Booking Officer</a>
      </div>
    </div>

  </div>

</section>
