<section id="contact" class="container mx-auto px-4 sm:px-12 py-24">
  <header class="mb-6">
    <h1 class="text-5xl font-black tracking-tight">Contacts</h1>
  </header>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-12 mb-12">
    {% for contact in contacts %}
    <div>
      <p class="font-bold">{{ contact.name }}</p>
      <p class="text-stone-600 dark:text-stone-400">{{ contact.position }}</p>
      {% if contact.email %}<p><a class="font-bold text-scarf-blue dark:text-scarf-blue-light hover:text-scarf-red underline" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>{% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="grid md:grid-cols-3 gap-6 md:gap-12">
    <div>
      <h2 class="mb-3 text-3xl font-black tracking-tight">Scout Hall</h2>
      <p>2 Park Lane</p>
      <p>Blackheath NSW 2785</p>
    </div>

    <div>
      <h2 class="mb-3 text-3xl font-black tracking-tight">Postal</h2>
      <p>PO Box 17</p>
      <p>Blackheath NSW 2785</p>
    </div>

    <div>
      <h2 class="mb-3 text-3xl font-black tracking-tight">Media</h2>
      <p>Please contact the Group Leader for any media enquiries.</p>
    </div>
  </div>
</section>
