---
layout: page-standard
page_title: Hall Hire
date: Last Modified

meta_description: |
  For group classes, birthday parties or a base camp for exploring the
  Upper Blue Mountains, book the 1st Blackheath Scout Hall for your
  venue needs.
---

<section class="bg-lime-800 dark:bg-stone-900 py-24">
  <div class="container mx-auto px-4 sm:px-12">
    <div class="mx-auto prose md:prose-lg prose-invert max-w-3xl
                prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
                prose-p:text-stone-100 dark:prose-p:text-stone-200
                prose-a:font-bold prose-a:text-scarf-blue hover:prose-a:text-scarf-red dark:prose-a:text-scarf-blue-light prose-a:underline">
      {% markdown %}{% include "./_content/hallhire/hallhire.md" %}{% endmarkdown %}
      <div class="not-prose">
        <a href="{{ urls.hall_hire_url }}" class="inline-flex items-center px-3 py-1 rounded text-white border border-white dark:border-stone-200 transition duration-150 hover:bg-white dark:hover:bg-stone-200 hover:text-scarf-red">Contact the Hall Booking Officer</a>
      </div>
    </div>

    <figure>
      <img class="block w-full mt-24" alt="{{ hallhire.hero_photo.alt }}" src="{{ hallhire.hero_photo.url }}">
      <figcaption class="mt-2 text-stone-100">{{ hallhire.hero_photo.caption }}</figcaption>
    </figure>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      {% for photo in hallhire.photos %}
      <figure>
        <img class="block w-full" alt="{{ photo.alt }}" src="{{ photo.url }}">
        <figcaption class="mt-2 text-stone-100">{{ photo.caption }}</figcaption>
      </figure>
      {% endfor %}
    </div>

    <div class="max-w-3xl mx-auto mt-24 text-stone-100">
      <h1 class="text-3xl font-black tracking-tight leading-loose mb-6">Schedule of fees</h1>
      <table class="min-w-full border">
        {% for row in hallhire_rates %}
        {% if loop.first %}
        <tr>
          {% for value in row %}
          <th class="py-3 px-2 w-1/3 border">{{ value }}</th>
          {% endfor %}
        </tr>
        {% else %}
        <tr>
          {% for value in row %}
          {% if loop.first %}
          <th class="py-3 px-2 border">{{ value }}</th>
          {% else %}
          <td class="py-3 px-2 border">{{ value }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</section>


<section class="py-24">
  <div class="container mx-auto px-4 sm:px-12 mb-12">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-black tracking-tight leading-loose mb-6">Upcoming Bookings</h2>
      <p class="leading-loose mb-6">
        Review the calendar below to see when our Hall is available for hire. For easier viewing, you can
        <a class="font-bold text-scarf-blue hover:text-scarf-red dark:text-scarf-blue-light underline" href="{{ hallhire.calendar_url }}" target="_blank">open the calendar in a new window</a>.
      </p>
      <a href="{{ urls.hall_hire_url }}" class="inline-flex items-center px-3 py-1 rounded shadow font-medium text-lg text-white dark:text-stone-200 bg-scarf-blue hover:bg-scarf-red dark:bg-scarf-blue-dark transition duration-150">Make a booking inquiry</a>
    </div>
  </div>
  <div class="p-4 max-w-[80rem] mx-auto">
    <iframe class="rounded-lg w-full h-[38rem]" src="{{ hallhire.calendar_url }}"></iframe>
  </div>
</section>
