---
layout: page-hero
date: Last Modified

meta_description: |
  Try Scouting in the Upper Blue Mountains. We pursue an active, outdoors
  program and encourage youth to discover what's possible. Scouting is
  about fun, friends, adventure and so much more.

---

<section id="join" class="container mx-auto px-4 sm:px-12 py-24 space-y-24">
  <div class="mx-auto prose prose-lg md:prose-xl prose-stone dark:prose-invert max-w-3xl
              prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
              prose-a:font-bold prose-a:text-scarf-blue hover:prose-a:text-scarf-red dark:prose-a:text-scarf-blue-light prose-a:underline">
    {% markdown %}{% include "./_content/index/join-intro.md" %}{% endmarkdown %}

    <div class="not-prose flex justify-center">
      <a href="{{ urls.enquiry_url }}" class="inline-flex items-center px-5 py-3 rounded-lg shadow-md font-medium text-lg text-white dark:text-stone-200 bg-scarf-blue hover:bg-scarf-red dark:bg-scarf-blue-dark transition duration-150">Enquire Now</a>
    </div>

    <div class="max-w-2xl mx-auto">
      <img class="block rounded shadow dark:brightness-90" alt="Five Scouts with backpacks ready to go on a hike" src="/assets/img/patrol-camp-944x680.jpg">
    </div>

    {% markdown %}{% include "./_content/index/join-about.md" %}{% endmarkdown %}
  </div>

  <div class="bg-stone-50 dark:bg-stone-900 rounded-xl border border-stone-100 dark:border-stone-700 p-2">
    <div class="grid grid-cols-2 md:grid-cols-4">
    {% for section in sections %}
      <div class="text-center leading-7 px-2 py-4">
        <header class="h-36">
          <img class="block dark:hidden mx-auto h-full" alt="{{ section.name }}" src="/assets/img/section-{{ section.img }}-220.png">
          <img class="hidden dark:block mx-auto h-full brightness-90" alt="{{ section.name }}" src="/assets/img/section-{{ section.img }}-invert-220.png">
        </header>
        <p class="">{{ section.ages }}</p>
        <h3 class="mt-4 font-bold text-scarf-red">Meets</h3>
        <p>{{ section.day }}</p>
        <p>{{ section.time }}</p>
        <h3 class="mt-4 font-bold text-scarf-red">Leaders</h3>
        {% for leader in section.leaders %}
        <p>{{ leader }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="mx-auto prose md:prose-lg prose-stone dark:prose-invert max-w-3xl
              prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
              prose-a:font-bold prose-a:text-scarf-blue hover:prose-a:text-scarf-red dark:prose-a:text-scarf-blue-light prose-a:underline">
    <div class="not-prose flex justify-center">
      <a href="{{ urls.enquiry_url }}" class="inline-flex items-center px-5 py-3 rounded-lg shadow-md font-medium text-lg text-white dark:text-stone-200 bg-scarf-blue hover:bg-scarf-red dark:bg-scarf-blue-dark transition duration-150">Enquire Now</a>
    </div>
    {% markdown %}{% include "./_content/index/join-footer.md" %}{% endmarkdown %}
  </div>
</section>


<section id="volunteer" class="bg-scarf-blue dark:bg-slate-800 py-24 mb-24">
  <div class="container mx-auto px-4 sm:px-12">
    <img class="mx-auto h-36 mb-4 dark:brightness-90" alt="" src="/assets/img/scouts-white-256.png">
    <div class="mx-auto text-center prose md:prose-lg prose-invert max-w-xl
                prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
                prose-p:text-stone-100 dark:prose-p:text-stone-200
                prose-a:font-bold hover:prose-a:text-scarf-red prose-a:underline">
      {% markdown %}{% include "./_content/index/adult-volunteering.md" %}{% endmarkdown %}
      <div class="not-prose">
        <a href="/volunteering/" class="inline-flex items-center px-3 py-1 rounded text-white border border-white dark:border-stone-200 transition duration-150 hover:bg-white dark:hover:bg-stone-200 hover:text-scarf-red">Learn more</a>
      </div>
    </div>
  </div>
</section>


<section id="hallhire" class="bg-lime-800 dark:bg-stone-900 py-24">
  <div class="container mx-auto px-4 sm:px-12">
    <div class="grid md:grid-cols-2 gap-6">
      <img class="block rounded shadow" alt="Interior of Blackheath Scout Hall" src="/assets/img/hall.jpg">
      <div class="prose prose-invert max-w-xl
                  prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
                  prose-p:text-stone-100 dark:prose-p:text-stone-200
                  prose-a:font-bold hover:prose-a:text-scarf-red prose-a:underline">
        {% markdown %}{% include "./_content/index/hallhire.md" %}{% endmarkdown %}
        <div class="not-prose">
          <a href="/hall-hire" class="inline-flex items-center px-3 py-1 rounded text-white border border-white dark:border-stone-200 transition duration-150 hover:bg-white dark:hover:bg-stone-200 hover:text-scarf-red">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact" class="container mx-auto px-4 sm:px-12 py-24">
  <div>
    <h1 class="text-4xl font-black tracking-tight leading-loose mb-8">Contacts</h1>

    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-12 mb-12">
      {% for contact in contacts %}
      <li>
        <div class="flex items-top space-x-4 lg:space-x-4">
          <img class="h-16 w-16" src="{{ contact.image }}" alt="">
          <div>
            <div class="leading-loose"><strong class="font-bold">
              {% if contact.email %}
              <a href="mailto:{{ contact.email }}" class="text-scarf-blue dark:text-scarf-blue-light underline hover:text-scarf-red">{{ contact.position }}</a>
              {% else %}
              {{ contact.position }}
              {% endif %}
            </strong></div>
            <div class="leading-loose">{{ contact.name }}</div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    <div class="grid md:grid-cols-3 gap-6 md:gap-12">
      {% for content in contacts_extras %}
      <div>
        <h2 class="text-2xl font-black tracking-tight leading-loose mb-6">{{ content.title }}</h2>
        <p class="leading-loose">{{ content.body|safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
