---
layout: page-standard
page_title: Adult Volunteering
date: Last Modified

meta_description: |
  Volunteer with Scouts in the Upper Blue Mountains for a rewarding role
  that makes a real difference to children's lives. Full training and
  support provided.
---

<section class="bg-scarf-blue dark:bg-slate-800 py-24">
  <div class="container mx-auto px-4 sm:px-12">
    <div class="mx-auto prose md:prose-lg prose-invert max-w-3xl
                prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
                prose-p:text-stone-100 dark:prose-p:text-stone-200
                prose-a:font-bold hover:prose-a:text-scarf-red prose-a:underline">
      {% markdown %}{% include "./_content/volunteering/volunteering.md" %}{% endmarkdown %}
    </div>
  </div>
</section>


<section class="py-24">
  <div class="container mx-auto px-4 sm:px-12 mb-12">
    <div class="mx-auto max-w-3xl">
      <h2 class="text-3xl font-black tracking-tight leading-loose mb-6">Volunteer positions available</h2>
    </div>
    <div class="mx-auto max-w-3xl">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        {% for item in collections.volunteer_position | sort(true, false, "data.priority") %}
        {% if item.data.open %}
        <div class="relative rounded-lg border border-stone-300 bg-white px-6 py-5 shadow-sm flex hover:border-stone-400">
          <div class="flex-1 min-w-0">
            <a href="{{ item.url }}" class="focus:outline-none">
              <p class="font-bold mb-2">{{ item.data.title }}</p>
              <p class="text-stone-600">{{ item.data.precis }}</p>
              {% if item.data.priority %}
              <span class="mt-2 inline-flex items-center px-3 py-0.5 rounded-full bg-green-100 text-green-800">
                <svg class="-ml-1 mr-1.5 h-4 w-4 text-yellow-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                </svg>
                Priority position
              </span>
              {% endif %}
            </a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
