---
layout: page-standard
page_title: Youth Inquiry
date: Last Modified
no_robots: true

meta_description: |
  Scouting is about fun, friends, adventure and so much more. Inquire now.
---

<section class="container mx-auto px-4 sm:px-12 py-24 space-y-24">
  <div class="mx-auto prose md:prose-lg prose-stone dark:prose-invert max-w-3xl
              prose-headings:font-black prose-headings:tracking-tight prose-strong:font-bold
              prose-a:font-bold prose-a:text-scarf-blue hover:prose-a:text-scarf-red dark:prose-a:text-scarf-blue-light prose-a:underline">
    {% markdown %}{% include "../_content/youth-inquiry/success.md" %}{% endmarkdown %}
  </div>
</section>
